/*
network 2
*/
body {
    color: white;
    background-color: #4a3e7d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
h1 {
    color: white;
    font-size: 30px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
}
h2 {
    color: #52e7bb;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}
h3 {
    font-size: 15px;
    font-weight: regular;
    text-transform: uppercase;
    color: #6c7275;
    margin-top: 16px;
    margin-bottom: 8px;
}
p {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 10px;
}
#copy {
    text-indent: 15px;
}
a:link {
    color: #e866f4;
    text-decoration: underline;
}
a:visited {
    color: #e866f4;
    text-decoration: underline;
}
a:hover {
    color: #f3acf9;
    text-decoration: underline;
}
a:active {
    color: #52e7bb;
    text-decoration: underline;
}
hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}
.page {
    min-height: 100vh;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.navbar {
    background-color: #313131;
    color: #9a9a9a;
    box-shadow: 0px 1px 0px black;
    border-radius: 0 0 6px 6px;
    max-width: 760px;
    height: 32px;
}
.navbar ul {
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
    overflow: hidden;
    float: left;
}
.navbar ul.right {
    float: right;
}
.navbar li {
    float: left;
    margin: 0em;
}
.navbar li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #9a9a9a;
    margin: 0 4px 0 0;
    padding: 6px 8px 4px 8px;
}
.navbar li a:hover {
    text-decoration: underline;
}
.column {
    float: left;
}
.left {
    width: 500px;
}
.right {
    margin-top: 50px;
    padding-left: 20px;
}
#buttons {
    width: 90px;
}
#buttons img {
    box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
}
.newsticker {
    /*color: #ffde43;*/
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    padding-left: 20px;
    max-width: 490px;
    overflow: hide;
    margin-top: 16px;
}
.newsticker a {
    color: #ffde43;
}
.newsticker a:hover {
    color: white;
}
.content {
 padding-left: 20px;
 max-width: 490px;
 overflow: hide;
 margin-top: 32px;
}
.homenav {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 6px;
}
.icons {
    text-align: center;
}
#footer {
    padding: 6px;
    display: inline-block;
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #123953;
        color: whitesmoke;
    }
    h2 {
        color: #d4a37b;
    }
    h3 {
        color: #6ab0d5;
    }
    .page {
        background-image: url(/img/nightbg2.png);
        background-color: #315165;
        outline-color: #051926;
    }
    #navbox {
        background-color: #2a3f4c;
        border: 1px solid #051926;
    }
    #grey {
        color: #6ab0d5
    }
    a:link {
        color: #6ab0d5;
    }
    a:visited {
        color: #6ab0d5;
    }
    a:hover {
        color: #d4a37b;
    }
    a:active {
        color: #2c81b8;
    }
    hr {
        border: 0;
        border-bottom: 1px dashed #2a3f4c;
        background: #051926;
    }
    #code {
        color: white;
    }
    .navboxheader {
        background: #b6c5d3; /* Old browsers */
    background: -moz-linear-gradient(top, #b6c5d3 0%, #b1c0d0 50%, #a9baca 51%, #9cacbc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b6c5d3 0%,#b1c0d0 50%,#a9baca 51%,#9cacbc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b6c5d3 0%,#b1c0d0 50%,#a9baca 51%,#9cacbc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6c5d3', endColorstr='#9cacbc',GradientType=0 ); /* IE6-9*/
    }
    .tbl th {
        color: #d4a37b;;
    }
    .tbl th, .tbl td {
        border-bottom: 1px solid #2a3f4c;
    }
    .tbl tr:nth-child(even) {background-color: #436171}
    .newsticker a {
        color: #d4a37b;
    }
}
